/*
Colors used:
Primary Color (Periwinkle): #B3C8F3;
Secondary Color (Dark Blue): #344C7E;
Primary Button (Grey): #747F97;
Reach Button (Green): #65C396;
SpeakEasy Button (Blue): #A0C6FE
Desenio Button (Dark Grey): #556A74;
Porject Reach Background (Light Grey): #EFF2F4;
Project Reach Understand (Teal): #65ADBA:
Project Reach Observe (Blue-Green): #65B3B0;
Project Reach User Persona (Green-Blue): #65BCA2;
Project Reach Ideate (Green): #65C494;
Project Reach Test (Darker Green): #65C691;
Project Reach Visual Design (Green): #65C88D;
Project Reach Mockup (Darker Blue): #489FB6;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Crimson Text', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  font-weight: 500;
}

h1 {
  font-size: 2.2em;
  line-height: 1.5;
}

span {
  display: inline-block;
}

h2, .h2 {
  font-size: 1.67em;
  color: #344C7E;
}

h3 {
  font-size: 1.39em;
}

h4 {
  font-size: 1.11em;
}

img {
  width: 100%;
}

a {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover, a:focus {
  opacity: 0.8;
}

a:active {
  opacity: 0.8;
}

footer {
  background-color: #B3C8F3;
  text-align: center;
}

a.button {
  display: inline-block;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 24px;
  transition: 0.2s opacity;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
}

.button.reach {
  background-color: #65C396;
}

.button.reach:active {
  background-color: #58AB83;
}

.button.speakeasy {
  background-color: #A0C6FE;
}

.button.speakeasy:active {
  background-color: #90B4EA;
}

.button.desenio {
  background-color: #A4A4A4;
}

.button.desenio:active {
  background-color: #3D4C53;
}

.button.contact {
  background-color: #747F97;
  padding: 12px 50px;
}

.button.contact:active {
  background-color: #5E677B;
}

.button.download {
  background-color: #747F97;
  padding: 12px 55px;
  margin: 2em 0 4em 0;
}

.button.download:active {
  background-color: #5E677B;
}

/* Layout styling */
header {
  background-color: #B3C8F3;
  display: block;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  box-shadow: 0px 5px 3px 0px rgba(50, 50, 50, 0.6);
}

.container {
  padding: 0px 15px;
}

#work .row {
  margin: 25px 0;
}

.logo {
  max-width: 75px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 24px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #344C7E;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav>ul>li>a {
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  color: black;
}

nav>ul>li>a:visited {
  opacity: 80%;
}

nav>ul>li>a:hover {
  color: #344C7E;
}

nav>ul>li>a:active {
  text-decoration: underline;
}

a.work {
  text-decoration: underline;
}

a.about {
  text-decoration: underline;
}

#hero {
  background-color: #B3C8F3;
  padding-bottom: 10px;
}

#hero h1 {
  margin: 0;
  padding: 0.5em 0;
}

main {
  padding-top: 103px;
}

.section, footer {
  padding: 10px 0;
}

.social a {
  text-decoration: none;
}

.social .fab {
  font-size: 2em;
  margin: 0 0.5em;
}

.social {
  margin-top: 1em;
}

/*CSS Animation Practice*/
svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from {
    fill: #99d7f7;
  }

  to {
    fill: #003b62;
  }
}

.cls-3 {
  animation-duration: 5s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/*Project Reach*/
main.reach {
  background-color: #EFF2F4;
  margin-bottom: 0;
}

.reach h2, .reach h3 {
  margin-top: 1.5em;
}

.reach .section {
  margin-bottom: 3em;
}

.reach .row {
  margin-bottom: 3em;
}

.row.talkspace {
  margin-bottom: 0.5em;
}

.section.learnings {
  margin-bottom: 0;
}

p.title {
  font-weight: 600;
  font-size: 1.11em;
  margin: 0.5em 0 0.5em 0;
}

p.text {
  margin: 0.5em 0 0.5em 0;
}

.reach .section h2 {
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 0.55em 2.78em 0.55em 1.38em;
  border-radius: 8px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.section.project h2 {
  background-color: #4A96A4;
}

.section.project h3 {
  color: #4A96A4;
}

.potentialsolution .column {
  background-color: #fff;
  border-radius: 8px;
  padding: 1em;
  margin: 1em 0;
}

.talkspace {
  max-width: 100px;
}

.row.swot .column {
  background-color: #fff;
  border-radius: 4px;
  margin: 0 0 1em 0;
  padding: 0.5em;
}

.swot h4 {
  margin-top: 0;
}

.section.observe h2 {
  background-color: #4B9895;
}

.section.observe h3 {
  color: #4B9895;
}

.section.observe .column {
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 10px 0;
  padding: 0 15px;
}

.section.observe .column.habits {
  border: 2px solid #F47D31;
}

.section.observe .column.opinions {
  border: 2px solid #05A1FA;
}

.section.observe .column.apps {
  border: 2px solid #DA4C6E;
}

.section.userpersonas h2 {
  background-color: #439A80;
}

.section.userpersonas h3 {
  color: #439A80;
}

.section.ideate h2 {
  background-color: #40A773;
}

.section.screenevolution {
  background-color: #fff;
  padding-bottom: 0.5em;
}

.section.screenevolution h3 {
  color: #40A773;
}

.section.screenevolution img {
  margin: 0;
  padding: 0.55em 2.78em 0.55em 2.78em;
}

.section.test h2 {
  background-color: #3A9D67;
}

.section.test h3 {
  color: #3A9D67;
}

p.row.test {
  margin: 0;
}

.section.results {
  background-color: #fff;
}

.section.test .column.description {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0.75em 0;
  padding: 0.5em 1em 0.5em 1em;
}

.section.test .column.issues {
  background-color: #3A9D67;
  color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0.75em 0;
  padding: 0.5em 1em 0.5em 1em;
}

.section.test img {
  margin: 0;
  padding: 0.55em 2.78em 0.55em 2.78em;
}

.row.home p {
  font-weight: 600;
  text-align: center;
}

.row.onboarding p {
  font-weight: 600;
  text-align: center;
}

.section.visualdesign h2 {
  background-color: #3CA868;
}

.section.visualdesign img {
  margin-top: 1em;
}

.section.mockup {
  background-color: #489FB6;
  color: #fff;
}

.section.mockup p {
  text-align: center;
}

.section.learnings h2 {
  background-color: #36A865;
}

/* BreakPoints
==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .flex, #myNavtoggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #myNavtoggle {
    align-items: center;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 95px;
  }

  h1, h2, h3, h4 {
    margin: 10px 0;
  }

  h1, h2 {
    padding: 10px;
  }

  #hero.section.welcome {
    padding: 10px;
  }

  .col-md-6, .col-md-4, .col-md-3 {
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75em 0 0 0.75em;
    flex-wrap: wrap;
  }

  .col-md-6 {
    width: 49%;
    align-items: center;
  }

  .col-md-4 {
    width: 32%;
    align-items: center;
    margin: 0;
  }

  .col-md-3 {
    width: 24%;
    align-items: center;
  }

  .section.results img {
    max-width: 250px;
  }

  .section.results .column {
    align-items: center;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 20px
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
