/*
Colors used:
Primary Color (Periwinkle): #B3C8F3;
Secondary Color (Dark Blue): #344C7E;
Primary Button (Grey): #747F97;
Reach Button (Green): #65C396;
SpeakEasy Button (Blue): #A0C6FE
Desenio Button (Dark Grey): #556A74;
Porject Reach Background (Light Grey): #EFF2F4;
Project Reach Understand (Teal): #65ADBA:
Project Reach Observe (Blue-Green): #65B3B0;
Project Reach User Persona (Green-Blue): #65BCA2;
Project Reach Ideate (Green): #65C494;
Project Reach Test (Darker Green): #65C691;
Project Reach Visual Design (Green): #65C88D;
Project Reach Mockup (Darker Blue): #489FB6;
*/

body{
  background-color: #ffffff;
  font-family: 'Crimson Text', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
}
h1, h2, h3, h4{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4
}
h1{
  font-size: 2.75em;
  font-weight: 500;
}
h2{
  font-size: 2em;
  font-weight: 500;
  color: #344C7E;
}
h3{
  font-size: 1.5em;
  font-weight: 500;
  color: #000000;
}
h4{
  font-size: 1.25em;
  font-weight: 500;
}

img {
  width: 100%;
}

header{
  background-color: #B3C8F3;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  font weight: 400;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.hover {
  color: #344C7E;
}

li a.active{
  text-decoration: underline;
}


footer{
  background-color: #B3C8F3;
}

.section.welcome{
  display: inline-block;
  background-color: #B3C8F3;
}

.ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B3C8F3;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.hover {
  color: #344C7E;
}

li a.active{
  text-decoration: underline;
}

.button.reach{
  display: inline-block;
  background-color: #65C396;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button.reach:hover {
  opacity: 0.8;
}
.button.reach:active{
  background-color: #58AB83;
}

.button.speakeasy{
  display: inline-block;
  background-color: #A0C6FE;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button.speakeasy:hover {
  opacity: 0.8;
}
.button.speakeasy:active{
  background-color: #8EB2E5;
}

.button.desenio{
  display: inline-block;
  background-color: #556A74;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button.desenio:hover {
  opacity: 0.8;
}
.button.desenio:active{
  background-color: #3D4C53;
}

.button.contact{
  display: inline-block;
  background-color: #747F97;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button.contact:hover {
  opacity: 0.8;
}
.button.contact:active{
  background-color: #5E677B;
}

.button.download{
  display: inline-block;
  background-color: #747F97;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button.contact:hover {
  opacity: 0.8;
}
.button.contact:active{
  background-color: #5E677B;
}
